.registerBody {
    text-align: center;
    margin-top: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-40 {
    margin-right: 40px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-13 {
    margin-bottom: 13px;
}

.mb-20 {
    margin-bottom: 16px;
}

.mb-14 {
    margin-bottom: 14px;
}

.flex-row-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
}