.margin-20 {
    margin: 20px;
}

.mt-50 {
    margin-top: 50px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.display-flex {
    display: flex;
    flex-direction: row;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.mb-50 {
    margin-bottom: 50px;
}

.width-50 {
    width: 50%;
    margin-left: 25%;
}